<% @user.user_songs.each do |user_song| %>
  <h2><%= user_song.song.name %></h2>
  <%= if can? :delete, user_song
  link_to 'Remove', remove_song_song_path(user_song), method: :delete
  end%>
<% end %>
